Checks: >
  clang-analyzer-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -clang-analyzer-cplusplus*  # Disable some if you want
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: file