BasedOnStyle: Google

# --- Personal Customizations ---
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
PointerAlignment: Left
BinPackArguments: false
BinPackParameters: false
IndentAccessModifiers: false
AccessModifierOffset: -4