Checks: >
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -clang-analyzer-cplusplus*  # Disable some if you want
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: file